.container.profilePage
    .profilePage_user
        .profilePage_user_image
            = image_tag @profile.avatar_image
        .profilePage_user_basicInfo
            .profilePage_user_name
                .profilePage_user_displayName
                    = @profile.display_name
                - if current_user.id == @profile.user_id
                    .profilePage_user_actionButton
                        = link_to 'Edit', edit_profile_path
            .profilePage_user_introduction
                = @profile.itself&.introduction