.container
  %h2 New Comment
  %ul
    - @comment.errors.full_messages.each do |message|
      %li= message
  = form_with(model: @comment, url: board_task_comments_path(@task.board_id, @task.id), method: 'post', local: true) do |f|
    %div
      = f.text_area :comment
    = f.submit 'Submit', class: 'btn-primary'