.container
  - if user_signed_in? && current_user.has_written_task?(@task)
    %object.board_detail_actions
      .dropdown
        = image_tag 'actions.svg', class: 'dropbtn'
        .dropdown-content.mini
          -# = link_to 'Edit', edit_board_path(task)
          -# = link_to 'Delete', board_path(task), data: { method: 'delete', confirm: 'Are you sure you want me to delete it?' }
  %h2=@task.name
  .card
    - if @task.eyecatch.attached?
      .board_image
        = image_tag @task.eyecatch
  .card  
    .card_content
      = @task.description
  %h1 Comment
