-# = link_to article_path(id: article.id) do
.card
  .card_content
    .card_name
      = board.name
    .card_description
      = board.description
    .card_detail
      = image_tag 'default-avatar.png', class: 'header_avatar'
      -# = image_tag board.user.avatar_image