@import 'variables';

.btn-primary {
  background-color: $primary-color;
  border: none;
  width: 100%;
  text-align: center;
  color: #FFFFFF;
  padding: 16px 0;
  font-weight: bold;
  font-size: 1.0em;
  border-radius: 10px;
}
               
.btn-secondary {
  background-color: $text-base-color;
  border: solid 1px $primary-color;
  width: 100%;
  text-align: center;
  color: $primary-color;
  padding: 16px 0;
  font-weight: border;
  border-radius: 10px;
}