@import 'variables';

form {
  margin-top: 16px;

  input, select {
    margin-bottom: 20px;

    &.text {
      width: 100%;
      padding: 16px 24px;
      border: none;
      background-color: $card-base-color;
      font-size: 1.1em;
      border-radius: 10px;
    }
  }
  
  label {
    font-size: 14px;
  }
  
  textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 16px 24px;
    min-height: 200px;
    resize: vertical;
    border: none;
    background-color: $card-base-color;
    font-size: 1.3em;
    border-radius: 10px;
  }
}